
trigger:
- none

resources:
- repo: self

variables:

  # Agent VM image name
  vmImageName: 'ubuntu-latest'

stages:    
- stage: Deploy
  displayName: Deploy Stage
  jobs:
  - deployment: Deploy
    displayName: Deploy
    pool:
      vmImage: $(vmImageName)
    environment: 'DivineOpsterraformlabs.default'
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self
          
          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: |
                
                cd aks_advnet_rbac
                
                terraform init
                terraform plan
                terraform apply -auto-approve

          
                
                
        